# Kaggle Hackathon 

# Advanced Classification Practical Exam

© Explore Data Science Academy

---
### Honour Code

I {**SEGUN, LAWAL**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section I am importing, and briefly explaining, the libraries that I will be using throughout my analysis and modelling. |

---

In [1]:
import en_core_web_sm

In [2]:
# Conventional Libraries
import re
import csv
import nltk
import spacy
import string
import numpy as np
import pandas as pd 
import html 


# Plotting Libraries
import seaborn as sns
sns.set(font_scale=1.5)
import matplotlib.pyplot as plt
import matplotlib.style as style
style.use('seaborn-pastel')
style.use('seaborn-poster')
from PIL import Image
from wordcloud import WordCloud

# Processing tools
import en_core_web_sm
from collections import Counter
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords, wordnet
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.utils import resample
import string
from sklearn.model_selection import train_test_split, RandomizedSearchCV

# Model Building
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

# Model Evaluation
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

import warnings
warnings.simplefilter("ignore")

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section I load the data from the `test_set` file into a DataFrame. |

---

In [3]:
# Load the data
train = pd.read_csv("train_set.csv")
test = pd.read_csv("test_set.csv")
sample = pd.read_csv("sample_submission.csv")

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, I am performing an in-depth analysis of all the variables in the DataFrame. |

---

### *Torture the data and it will confess to everything...*

![6a0120a5e84a91970c0223c8514578200c-500wi](https://acuate.typepad.com/.a/6a0120a5e84a91970c0223c8514578200c-500wi)

In [4]:
train.shape

(33000, 2)

In [5]:
test.shape

(5682, 2)

In [6]:
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [7]:
test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [8]:
sample.head()

   index lang_id
0      1     tsn
1      2     nbl

In [9]:
train["lang_id"].nunique()

11

In [10]:
train["lang_id"].unique()

array(['xho', 'eng', 'nso', 'ven', 'tsn', 'nbl', 'zul', 'ssw', 'tso',
       'sot', 'afr'], dtype=object)

In [11]:
train["lang_id"].value_counts()

xho    3000
eng    3000
nso    3000
ven    3000
tsn    3000
nbl    3000
zul    3000
ssw    3000
tso    3000
sot    3000
afr    3000
Name: lang_id, dtype: int64

In [12]:
train.columns

Index(['lang_id', 'text'], dtype='object')

In [13]:
print('length of train dataset is ', len(train))

length of train dataset is  33000

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33000 entries, 0 to 32999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lang_id  33000 non-null  object
 1   text     33000 non-null  object
dtypes: object(2)
memory usage: 515.8+ KB

In [15]:
train.dtypes

lang_id    object
text       object
dtype: object

In [16]:
np.sum(train.isnull().any(axis=1))

0

In [17]:
train.isna().sum()

lang_id    0
text       0
dtype: int64

In [18]:
train.shape

(33000, 2)

In [19]:
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

## Text Cleaning

In [20]:
import string

In [21]:
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

### Remove punctuation

First we make all the text lower case to remove some noise from capitalisation.

In [22]:
# Convert to lowercase
train["text"] = train["text"].str.lower()

In [23]:
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

Now let's remove the punctuation.

In [24]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [25]:
def remove_punctuation(text):
    return ''.join([l for l in text if l not in string.punctuation])

In [26]:
train['text'] = train['text'].apply(remove_punctuation)

In [27]:
train.head()

  lang_id                                               text
0     xho  umgaqosiseko wenza amalungiselelo kumaziko axh...
1     xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2     eng  the province of kwazulunatal department of tra...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [28]:
def remove_numbers(text):
    return ''.join([l for l in text if not l.isdigit()])

In [29]:
train['text'] = train['text'].apply(remove_numbers)

In [30]:
train.head()

  lang_id                                               text
0     xho  umgaqosiseko wenza amalungiselelo kumaziko axh...
1     xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2     eng  the province of kwazulunatal department of tra...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [31]:
train['text'].shape

(33000,)

In [32]:
train.head()

  lang_id                                               text
0     xho  umgaqosiseko wenza amalungiselelo kumaziko axh...
1     xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2     eng  the province of kwazulunatal department of tra...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [33]:
train

      lang_id                                               text
0         xho  umgaqosiseko wenza amalungiselelo kumaziko axh...
1         xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2         eng  the province of kwazulunatal department of tra...
3         nso  o netefatša gore o ba file dilo ka moka tše le...
4         ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
...       ...                                                ...
32995     tsn  popo ya dipolateforomo tse ke go tlisa boetele...
32996     sot  modise mosadi na o ntse o sa utlwe hore thaban...
32997     eng  closing date for the submission of completed t...
32998     xho  nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999     sot  mafapha a mang le ona a lokela ho etsa ditlale...

[33000 rows x 2 columns]

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [37]:
# Split the data set into train and Validation

# Seperate features and target variables
X = train['text'].values
y = train['lang_id'].values


X_train, X_test, y_train, y_test = train_test_split(X,
                                                     y,
                                                     test_size=0.25,
                                                     random_state=25)

In [38]:
# Logistic Regression model
log_reg = Pipeline([('tfidf',TfidfVectorizer()),
               ('clf',LogisticRegression(C=1, 
                                         class_weight='balanced', 
                                         max_iter=1000))])
# Linear SVC model
linear_svc = Pipeline([('tfidf', TfidfVectorizer()),
                 ('clf', LinearSVC(class_weight='balanced'))])

# Random Forest Classifier
ran_forest = Pipeline([('tfidf', TfidfVectorizer()),
               ('clf', RandomForestClassifier(max_depth=5, 
                                              n_estimators=100))])

# Naïve Bayes model
n_bayes = Pipeline([('tfidf', TfidfVectorizer()),
               ('clf', MultinomialNB())])

# KNN Classifier model
knn = Pipeline([('tfidf', TfidfVectorizer()),
                ('clf', KNeighborsClassifier(n_neighbors=5, 
                                             metric='minkowski', 
                                             p=2))])

In [39]:
# Logistic Regression
log_reg.fit(X_train, y_train)
y_pred_Log = log_reg.predict(X_test)

# Linear Support vector classifier
linear_svc.fit(X_train, y_train)
y_pred_svc = linear_svc.predict(X_test)

# Random forest model
ran_forest.fit(X_train, y_train)
y_pred_RF = ran_forest.predict(X_test)

# Naive Bais model
n_bayes.fit(X_train, y_train)
y_pred_bayes = n_bayes.predict(X_test)


# KNN model
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [40]:
#create empty list to contain a dataframe of each of accuracy, precision, recall and f1 errors; 
#then concatenate the dataframes
judgement=[]
judgement.append(pd.DataFrame({'Model':['Logistic Regression','SVC','Random Forest','Naive Bayes', 'KNN']}))
judgement.append(pd.DataFrame({'Accuracy':[metrics.accuracy_score(y_test, y_pred_Log), metrics.accuracy_score(y_test, y_pred_svc), metrics.accuracy_score(y_test, y_pred_RF),metrics.accuracy_score(y_test, y_pred_bayes),metrics.accuracy_score(y_test, y_pred_knn)]}))
judgement.append(pd.DataFrame({'Precision':[metrics.precision_score(y_test, y_pred_Log, average='micro'), metrics.precision_score(y_test, y_pred_svc, average='micro'), metrics.precision_score(y_test, y_pred_RF, average='micro'),metrics.precision_score(y_test, y_pred_bayes, average='micro'),metrics.precision_score(y_test, y_pred_knn, average='micro')]}))
judgement.append(pd.DataFrame({'Recall':[metrics.recall_score(y_test, y_pred_Log, average='micro'), metrics.recall_score(y_test, y_pred_svc, average='micro'), metrics.recall_score(y_test, y_pred_RF, average='micro'),metrics.recall_score(y_test, y_pred_bayes, average='micro'),metrics.recall_score(y_test, y_pred_knn, average='micro')]}))
judgement.append(pd.DataFrame({'F1':[metrics.f1_score(y_test, y_pred_Log, average='micro'), metrics.f1_score(y_test, y_pred_svc, average='micro'), metrics.f1_score(y_test, y_pred_RF, average='micro'),metrics.f1_score(y_test, y_pred_bayes, average='micro'),metrics.f1_score(y_test, y_pred_knn, average='micro')]}))

judgement=pd.concat(judgement, axis=1)


judgement.set_index('Model', inplace= True)
print(judgement)

                     Accuracy  Precision    Recall        F1
Model
Logistic Regression  0.994667   0.994667  0.994667  0.994667
SVC                  0.997818   0.997818  0.997818  0.997818
Random Forest        0.887515   0.887515  0.887515  0.887515
Naive Bayes          0.998545   0.998545  0.998545  0.998545
KNN                  0.966061   0.966061  0.966061  0.966061

In [68]:
lsvc_tuned = Pipeline([('tfidf', TfidfVectorizer(max_df=0.8,
                                                    min_df=2,
                                                    ngram_range=(1,2))),
                  ('clf', LinearSVC(C=0.3,
                                    class_weight='balanced',
                                    max_iter=2000))])

# now, we fit and predict again
lsvc_tuned.fit(X_train, y_train)
y_pred_tuned = lsvc_tuned.predict(X_test)

## For Kaggle Submission

In [44]:
test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [46]:
# Convert to lowercase
test['text'] = test["text"].str.lower()

In [49]:
test['text'] = test['text'].apply(remove_punctuation)

In [51]:
test['text'] = test['text'].apply(remove_numbers)

In [56]:
# y_pred = n_bayes.predict(test['text'])

In [65]:
# y_pred = linear_svc.predict(test['text'])

In [69]:
# y_pred = lsvc_tuned.predict(test['text']) log_reg

In [72]:
y_pred = log_reg.predict(test['text'])

In [70]:
sample.head()

   index lang_id
0      1     tsn
1      2     nbl

In [55]:
test.head()

   index                                               text
0      1  mmasepala fa maemo a a kgethegileng a letlelel...
1      2  uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3          tshivhumbeo tshi fana na ngano dza vhathu
3      4  kube inja nelikati betingevakala kutsi titsini...
4      5                       winste op buitelandse valuta

In [73]:
output = pd.DataFrame({'index': test['index'],
                      'lang_id': y_pred})

output.to_csv('4_segun_first_submission.csv', index=False)

In [67]:
output.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr